# Time Series

Time series data is an important form of structured data in many different fields, such
as finance, economics, ecology, neuroscience, or physics. Anything that is observed or
measured at many points in time forms a time series. Many time series are fixed fre-
quency, which is to say that data points occur at regular intervals according to some
rule, such as every 15 seconds, every 5 minutes, or once per month. Time series can
also be irregular without a fixed unit or time or offset between units. How you mark
and refer to time series data depends on the application and you may have one of the
following:

* Timestamps, specific instants in time
* Fixed periods, such as the month January 2007 or the full year 2010
* Intervals of time, indicated by a start and end timestamp. Periods can be thought
of as special cases of intervals
* Experiment or elapsed time

# Date and Time Data Types and Tools

In [22]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2017, 2, 26, 0, 35, 14, 974812)

In [4]:
now.year, now.month, now.day

(2017, 2, 26)

datetime stores both the date and time down to the microsecond.

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [10]:
delta.days, delta.seconds

(926, 56700)

You can add (or subtract) a timedelta or multiple thereof to a datetime object to **yield**
a new shifted object:

In [13]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start

datetime.datetime(2011, 1, 7, 0, 0)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

## Converting between string and datetime

* **strftime**: datetime to string

In [15]:
stamp = datetime(2011, 1, 3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
str(stamp)

'2011-01-03 00:00:00'

In [17]:
stamp.strftime('%Y/%m/%d')

'2011/01/03'

* **strptime** : string to datetime

In [22]:
value = '03/11/2017'
datetime.strptime(value, '%d/%m/%Y')

datetime.datetime(2017, 11, 3, 0, 0)

* **parser.parse**: string to datetime

In [23]:
from dateutil.parser import parse
parse('2017-09-08')

datetime.datetime(2017, 9, 8, 0, 0)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [25]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

# Time Series Basics

Most common kinde of series times is use the **time stamp** as index

In [26]:
from datetime import datetime

In [29]:
dates = [datetime(2011, 1, 2), 
         datetime(2011, 1, 5), 
         datetime(2011, 1, 7), 
         datetime(2011, 1, 8), 
         datetime(2017, 1, 10), 
         datetime(2011,1,2)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2017, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 2, 0, 0)]

In [23]:
from pandas import Series
import numpy as np
import pandas as pd

In [24]:
ts =  Series(np.random.randn(6), index=dates)
ts

2011-01-02    2.398135
2011-01-05    1.235045
2011-01-07   -0.057651
2011-01-08    0.742623
2017-01-10   -0.504051
2011-01-02   -0.797024
dtype: float64

In [25]:
type(ts)

pandas.core.series.Series

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2017-01-10', '2011-01-02'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts + ts[::2]

2011-01-02    4.796271
2011-01-02    1.601112
2011-01-05         NaN
2011-01-07   -0.115303
2011-01-08         NaN
2017-01-10   -1.008101
dtype: float64

## Indexing, Selection, Subsetting

TimeSeries is a subclass of Series and thus behaves in the same way with regard to
indexing and selecting data based on label: