# Rolling

In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})

In [9]:
df

     B
0  0.0
1  1.0
2  2.0
3  NaN
4  4.0

Rolling sum with a window length of 2, using the ‘triang’ window type.

In [10]:
df.rolling(2, win_type='triang').sum()

     B
0  NaN
1  1.0
2  2.5
3  NaN
4  NaN

Rolling sum with a window length of 2, min_periods defaults to the window length.

In [12]:
df.rolling(2).mean()

     B
0  NaN
1  0.5
2  1.5
3  NaN
4  NaN

Same as above, but explicity set the min_periods

In [13]:
df.rolling(2, min_periods=1).sum()

     B
0  0.0
1  1.0
2  3.0
3  2.0
4  4.0